{{define "body"}}
    <!doctype html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <p>Hello:</p>
    <p>You recently requested a  link to reset your password.</p>
    <p>Visit the link below to get started. Note that the link expires in 60 minutes.</p>
    <p><a href="{{.Link}}">Click here to reset your password</a>
    </body>

    </html>
{{end}}